h1 {
    text-align: center;
    margin: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

main {
    display: flex;
    justify-content: center;
}
.grid {
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px;
    /* border:2px solid red; */
}

.cell{
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border: 1px solid black;
}